<h1>All Tests</h1>

<table>
    <tr>
        <th>Test ID</th>
        <th>Test NAME</th>
        <th>Test DETAILS</th>
        <th>Test COST</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let t of test|async">
        <td>{{t.testId}}</td>
        <td>{{t.testName}}</td>
        <td>{{t.testDetails}}</td>
        <td>{{t.testCost}}</td>
        <td><button (click)="updateTest(t.testId)">Update</button></td>
        <td><button (click)="deleteTest(t.testId)">Delete</button></td>
        <!-- <td><button (click)="productDetail(p.prdId)">Details</button></td> -->
    </tr>
</table>