/* body {
    background-color: rgb(206, 214, 178);
}

table {
    margin-left: 200px;
}

table, tr {
    margin-left: auto;
    margin-right: auto;


h2, h3, h4 {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

h1 {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

ul {
    margin-left: auto;
    margin-right: auto;
}

mySlides {
    display: none
} */